<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>LOVT</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>LOVT</h1>
            <p>You love, your loft!</p>
        </div>
        <nav>
            <a target="_blank" href=""></a>
            <a href="">Contato</a>
            <a href="">Localização</a>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>